.form-control {
 width: 100px;
}
header {
 height:60px;
}

.row {
 padding-bottom: 60px;
}

#output {
 font-size: 28px;
 margin-top: 20px;
 padding: 8px;
 border: 2px solid lightseagreen;
 border-radius: 10px;
}